{% extends 'base.html' %}
{% load static %}
{% block body %}
{% include 'talepet_modal.html' %}
<div class="container">
    <form method="POST" action="{% url 'home' %}">
    {% csrf_token %}
    <div class="input-group">
        <input type="text" placeholder="Arama Yap" class="form-control" name="arama">

        <span class="input-group-btn ">
            <input type="submit" value="Arama" class="btn btn-primary">
        </span>

    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="form-check form-check-inline">       
                    <input type="radio" name="search" id="Kaynak" class="form-check-input ml-2" value="Kaynak" checked><label for="Kaynak" class="form-check-label mr-4">Kaynak İsmine Göre </label>
                    <input type="radio" name="search" id="Yazar" class="form-check-input ml-2" value="Yazar"><label for="Yazar" class="form-check-label mr-4">Yazar İsmine Göre </label>
                    <input type="radio" name="search" id="İçerik" class="form-check-input ml-2" value="İçerik"><label for="İçerik" class="form-check-label mr-4">İçeriğe Göre </label>
                    <input type="radio" name="search" id="Barkod" class="form-check-input ml-2" value="Barkod"><label for="Barkod" class="form-check-label">Barkod Numarasına Göre </label>
            </div>        
        </div>
    </div>
    <div class="col-md-2"></div>
</form>


  {% if sources.count == 0 %}
  <button class="btn btn-primary" data-toggle="modal" data-target="#talepetmodal">Talep Et</button>

  {% else %}
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Kaynak Adı</th>
        <th scope="col">Yazar</th>
        <th scope="col">Tür</th>
        <th scope="col">Barkod No</th>
        <th scope="col">Mevcut</th>
      </tr>
    </thead>
    <tbody>
    {% for source in sources  %}
      <tr>
        <th scope="source">{{ forloop.counter }}</th>
        <td>{{ source.source_name }}</td>
        <td>{{ source.author }}</td>
        <td>{{ source.source_type }}</td>
        <td>{{ source.barcode }}</td>
        {% if source.lend == 'True' %}
          <td>{{ 'Hayır' }}</td>
        {% else %}
          <td>{{ 'Evet' }}</td>
        {% endif %}
      </tr>
  {% endfor %}
    </tbody>
  </table>
 {% endif %}
</div>



{% endblock %}