<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Kaynak Adı</th>
        <th scope="col">Yazar</th>
        <th scope="col">Talep Tarihi</th>
        <th scope="col">Talep Et</th>
      </tr>
    </thead>
    <tbody>
    
    {% for request in requested_hafta %}
      <tr>
        <th scope="source">{{ forloop.counter }}</th>
        <td>{{ request.source_name }}</td>
        <td>{{ request.author }}</td>
        <td>{{ request.request_date }}</td>

        {% if is_available %}
        <td>
          <div class="col-xs-1">
            <a role="button" class="btn btn-primary btn-sm" href="{% url 'TalepEt' request.id %}" style="color:white; height:40px; font-size:1px;">Talep Et</a>
          </div>
          
        </td>

        {% else %}
        <td>Talep sınırı aşıldı</td>

        {% endif %}
      </tr>
  {% endfor %}

    </tbody>
  </table>