{% extends 'base.html' %}
{% load static %}
{% block css %}
    <style>
    .form-inline .form-group {
  margin-right:0px;
}
    </style>
{% endblock %}
{% block body %}
<div class="container">
    <div class="row">

    </div>
    <div class=" mt-5">
        <div class="row">
         <div class="col-md-4">

        </div>
        <div class="col-md-4">






            <div class=" form-group">

                    <form action="" method="POST">

                        <div class="form-group row">
                            <div class="input-group">
                                <div class="col-md-9 mr-0 pl-0" style="margin-right: 0px;">
                                     <input type="text" class="form-control" placeholder="Enter Barcode">
                                </div>

                                <div class="col-md-3 ml-0 pl-0" style="margin-left: 0px;">
                                    <input type="submit" class="btn btn-primary form-control" name="Click" value="Save" id="">
                                </div>
                        </div>



                </div>
</div>
</div>
        </div>
        </div>
            </form>

        <div class="col-md-4">

        </div>


    </div>

        </div>

</div>
{% endblock %}